html, body {
    background-color: rgb(0, 0, 0);
	color: rgba(0, 255, 13, 0.575);
	margin: 0;
	padding: 0;
    text-align: center;
    font: 0.9rem Inconsolata, monospace;
    text-shadow: 0 0 3px #C8C8C8;
}

#top {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
    text-align: left;
    padding-top: 20px;
}

#HEAD_LEFT {
    float: left;
}

#HEAD_RIGHT {
    text-align: right;
}

.pablo_photo {
    border-radius: 50%;
    height: 40%;
    width: 40%;
    float: left;
    padding: 10px;
}

.logos {
    height: 100px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.duties {
    text-indent: 30px;
    font-style: italic;
}

#CONTENT {
	overflow: hidden;
    padding-left: 1%;
    text-align: justify;
}

#FOOTER {
    text-align: right;
	clear: both;
	width: 100%;
}

a {
    color: rgb(124, 170, 231);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}